/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    background-color: #4b4a4a;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Container principal */
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Lado esquerdo (imagem) */
  .image-side {
    flex: 1;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-side img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  /* Lado direito (login) */
  .login-side {
    flex: 1;
    background-color: #4b4a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-side h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #000000;
    text-shadow: white 0px 0px 20px;
  }
  
  form {
    width: 100%;
    max-width: 300px;
    background-color: grey;
    padding: 30px;
    border-radius: 30px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    margin-top: 15px;
    text-align: center;
  }
  
  .register-link a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }